# Monorepo sync files
packages/**/*.md

# Env
.env*.local

# Log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency
web_modules/
node_modules/
jspm_packages/
bower_components/

# Lockfile
bun.lockb
yarn.lock
pnpm-lock.yaml
package-lock.json

# TypeScript
*.tsbuildinfo
expo-env.d.ts
next-env.d.ts

# Distribution
out
dist
build
package
coverage
web-build

# Cache
.npm
.next
.nuxt
.expo
.temp
.cache
.vercel
.DS_Store
.docusaurus
.svelte-kit
.eslintcache
.cache-loader
.parcel-cache
.stylelintcache
%ProgramData%

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
