/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  /*background: linear-gradient(90deg, rgba(69, 104, 220, 1) 0%, rgba(103, 58, 183, 1) 60%);*/
  background: linear-gradient(90deg, rgba(43,43,43,1) 0%, rgba(60,63,65,1) 100%);
}

.heroLogo {
  width: 400px;
  max-width: 100%;
}

.heroSubtitle {
  color: #ffffff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

.buttons a {
  background: linear-gradient(90deg, rgba(69, 104, 220, 1) 0%, rgba(103, 58, 183, 1) 60%);
  color: #fff;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  max-width: 240px;
}
